.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-style {
  background: #121c29;
}

.red-logo {
  background: #dc6041;
}

.lead-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.dashboard {
  background: #e5e5e5;
}

.lead-text {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;

  letter-spacing: 0.1px;
}

.bg-core-yellow {
  background-color: #fcd57b;
}

.bg-red-cl {
  background: #dc6041;
  color: white;
}

.border-stuff {
  border: 1px solid #e2e2ea;
}

.lil-btn {
  background: #fcd57b;
  border-radius: 30px;
}

.hide-overflow {
  overflow: hidden;
}

.rounded-default {
  border: 1px solid #e2e2ea;
  border-radius: 20px;
}

.indicator {
  width: 16.78px;
  height: 15.69px;
  border-radius: 2px;
}
